header {
	height: 80px;
	box-shadow: 10px 2px 5px 0px #cdcdcd;
	background: #fff;
}

button {
	width:  285px; 
	height: 35px;
	background: #53b9d1;
	border: 1px solid #53b9d1;
	margin-top: 23px;
	float: right;
}
 a {
 		color: #fff;
 }

.cart {
	width:  185px; 
	height: 80px;
	background: #82d1e1;
	float: right;
	color: #fff;
	line-height: 80px;
	text-align: center;
 }

