.logo {
	background: #40474f;	
	padding: 25px 0;
	text-align: center;
	color: #fff;
}

.items li {
  	float: left;
}

.items a {
  	display: block;
  	border-left: 1px solid #fff;
  	background: #40474f;
  	padding: 10px 0;
  	color: #fff;
  	min-width: 117px;
  	text-align: center;
}

h1 {
	font-size: 25px;
	margin: 0;
	padding: 15px 0;
	font-weight: bold;
}

h5 {
	font-weight: bold;
}

.nav-wrapper {
	background: #fff;	
}

.nav-wrapper a {	
	color: #000;
}

nav {
	box-shadow: none;
}

.left-block {
	background: #40474f;
	min-height: 680px;	
	padding: 340px 0;
	text-align: center;
	color: #fff;
}

.card .card-content {
    padding: 10px 0;
}

.card {
	box-shadow: none;
	margin-top: 0;	
}

.card .card-image img {
    border-radius: 0;
}

